{% extends 'base.html.twig' %}

{% block title %}New CategorieArticle{% endblock %}

{% block body %}
    <h1>Create new CategorieArticle</h1>

    {{ include('categorie_article/_form.html.twig') }}

    <a href="{{ path('categorie_article_index') }}">back to list</a>
{% endblock %}
