{{ form_start(form) }}
   {{ form_row(form.nom, { 'attr': {'class': 'form-control', 'placeholder':'Marque' } } ) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
